character
cursor
data
effect
flash
gui
item
language
gui
item
language
movie
object
property
script
sound
texture
ts
user
world
BugTrap.dll
BugTrapU.dll
BVL32.dll
Client.exe
Client.exe.Backup
Client.pdb
dbolog.txt
DevIL.dll
discord-rpc.dll
DxLog.txt
gui.pak
PackEditor.exe
patcher_config.xml
ToolkitPro1521vc100.dll
UnRAR.dll
ConfigOptions.xml
font